 * {
  box-sizing: border-box;
  margin: 0;
  border: 0;
 }

 body {
    background-color: lightgrey;
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .navbar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* width: 1200px;
    padding: 20px 24px; */
    margin: 16px;
    padding: 16px;
    height: 96px;
    /* top: 24px;
    left: 264px; */
    opacity: 96%;
    background-color:#2A2C2E;
    border-radius: 20px;
    position: sticky;
  }
  
  .middle-navbar ul li {
    list-style-type: none;
    display: inline;
    margin-right: 20px;
    /* align-content: center; */
    /* display: flex; */
    justify-content: space-evenly;
  }

  a:link { 
    text-decoration: none;
    color: white; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
    color: hotpink;
  } 
  a:active { 
    text-decoration: none;
    color: yellow; 
  }

  .button {
    background-color: yellow;
    width: 80px;
    height: 40px; 
    border-radius: 10px;
} 